Diversia.Backend/Diversia.Backend/Service References/BlogSVC/BlogService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogTag" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogTag" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4961/BlogService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPostTagMap" />
  <xs:complexType name="BlogTagModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPostTagMap" minOccurs="0" name="Posts" nillable="true" type="q1:ArrayOfBlogPostTagMapModel" />
      <xs:element minOccurs="0" name="UrlSlug" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogTagModel" nillable="true" type="tns:BlogTagModel" />
</xs:schema>