Diversia.Backend/Diversia.Backend/Service References/BlogSVC/BlogService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPostTagMap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPostTagMap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4961/BlogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPost" />
  <xs:import schemaLocation="http://localhost:4961/BlogService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogTag" />
  <xs:complexType name="ArrayOfBlogPostTagMapModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogPostTagMapModel" nillable="true" type="tns:BlogPostTagMapModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogPostTagMapModel" nillable="true" type="tns:ArrayOfBlogPostTagMapModel" />
  <xs:complexType name="BlogPostTagMapModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPost" minOccurs="0" name="BlogPost" nillable="true" type="q1:BlogPostModel" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogTag" minOccurs="0" name="BlogTag" nillable="true" type="q2:BlogTagModel" />
      <xs:element minOccurs="0" name="Post_id" type="xs:int" />
      <xs:element minOccurs="0" name="Tag_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogPostTagMapModel" nillable="true" type="tns:BlogPostTagMapModel" />
</xs:schema>