Diversia.Backend/Diversia.Backend/Service References/BlogSVC/BlogService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Diversia.Core.Pager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Diversia.Core.Pager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4961/BlogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Diversia.Core.Filter" />
  <xs:import schemaLocation="http://localhost:4961/BlogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPost" />
  <xs:complexType name="FindRequestImplOfSearchFilterWhgywLN_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FindRequestImplOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Diversia.Core.Pager" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SearchFilter" Namespace="http://schemas.datacontract.org/2004/07/Diversia.Core.Filter" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Diversia.Core.Filter" minOccurs="0" name="Filter" nillable="true" type="q1:SearchFilter" />
      <xs:element minOccurs="0" name="PageRequest" nillable="true" type="tns:PageRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindRequestImplOfSearchFilterWhgywLN_S" nillable="true" type="tns:FindRequestImplOfSearchFilterWhgywLN_S" />
  <xs:complexType name="PageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" nillable="true" type="tns:Sort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageRequest" nillable="true" type="tns:PageRequest" />
  <xs:complexType name="Sort">
    <xs:sequence>
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sort" nillable="true" type="tns:Sort" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" type="tns:Direction" />
      <xs:element minOccurs="0" name="IgnoreCase" type="xs:boolean" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:simpleType name="Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Direction" nillable="true" type="tns:Direction" />
  <xs:complexType name="PageOfBlogPostModelqnO_S1U15">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Diversia.Core.Pager" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BlogPostModel" Namespace="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPost" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Diversia.Models.BlogPost" minOccurs="0" name="Content" nillable="true" type="q2:ArrayOfBlogPostModel" />
      <xs:element minOccurs="0" name="Number" type="xs:long" />
      <xs:element minOccurs="0" name="NumberOfElements" type="xs:long" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="Sort" nillable="true" type="tns:Sort" />
      <xs:element minOccurs="0" name="TotalElements" type="xs:long" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageOfBlogPostModelqnO_S1U15" nillable="true" type="tns:PageOfBlogPostModelqnO_S1U15" />
</xs:schema>