Diversia.Backend/Diversia.Backend/Service References/BlogSVC/BlogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4961/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Diversia.Core.Pager" />
  <xs:element name="Paginated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Diversia.Core.Pager" minOccurs="0" name="filter" nillable="true" type="q1:FindRequestImplOfSearchFilterWhgywLN_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaginatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Diversia.Core.Pager" minOccurs="0" name="PaginatedResult" nillable="true" type="q2:PageOfBlogPostModelqnO_S1U15" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>